/************************************************************************
 *  Syntax created for button implementations to access different menus
 */ 

.button {  /* Creates a class called button to use to make a simple button style format */
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 { /* Creates a class that styles the button when not hovering over it */
    background-color: transparent;
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover { /* When hovering over the button, style it using this class */
    background-color: #4CAF50;
    color: white;
  }
  /* The rest of the following syntax follow the same principles, but simply change the
     colours for a variety of different styled buttons */
  
  .button2 {
      background-color: transparent;
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;   
  }

  .button3 {
      background-color: transparent;
      color: black;
      border: 2px solid #ba0057;
  }

  .button3:hover {
      background-color: #ba0057;
      color: white;
  }
  
  .button4 {
    background-color: transparent;
    color: black;
    border: 2px solid white;
  }

  .button4:hover {
    background-color: white;
    color: white;
  }

.button5 {
    background-color: transparent;
    color: black;
    border: 2px solid  rgb(228, 43, 43);
  }

  .button5:hover {
    background-color:rgb(228, 43, 43);
    color: white;
  }

  .button6 {
    background-color: transparent;
    color: black;
    border: 2px solid  rgba(17, 134, 66, 0.863);
  }

  .button6:hover {
    background-color:  rgba(17, 134, 66, 0.863);
    color: white;
  }

/*************************************************************************/

*{
    padding: 0;
    margin: 0;
}

/**************************************************************************
 * Stylizes text within the different menus
*/ 

#dinoDash { /* Stylizes the dinoDash text element within menu.php */
    text-align: center; 
    font-size: 300%;
    font-family: monospace;
}

#text { /* Stylizes the text elements within all the php files */
    text-align: center;
    font-size: 150%;
    font-family: monospace;
}

/*************************************************************************/

/**************************************************************************
 * Syntax to stylize the main game 
 */

#gameContainer { /* The background to be used for all menus of the game */
    background-image: url(bg.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

#dino { /* The size, image and position of the player's dino in the game */
    width: 150px;
    height: 75px;
    background-image: url(dino1.png);
    background-size: cover;
    position: relative;
    top: 365px;
}

#dragon { /* The size, image and position of the bottom obstacle */
    width: 30px;
    height: 20px;
    background-image: url(boulder.png);
    background-size: cover;
    position: relative;
    top: 345px;
    right: 40px;
}

#bird { /* The size, image and position of the top obstacle */
    width: 30px;
    height: 20px;
    background-image: url(boulder.png);
    background-size: cover;
    position: relative;
    top: 295px;
    right: 40px;
}

#score { /* The size, position and styling of the player's score on the screen */
    font-size: 25px;
    color: #54212f;
    position: absolute;
    right: 0px;
    top: 4px;
    border: 2px solid firebrick;
    background-color: firebrick;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

#gameOver{ /* The text styling and position for the game-over text when player loses */ 
    position: relative;
    top:63px;
    font-size: 53px;
    text-align: center; 
    color: red;
    font-family: monospace;
}

/***********************************************************************************/

/************************************************************************************
 *   Stylizes the leaderboard
 */

.scoreboard { 
    margin-top: 90px;
}

table {
    background-color: teal;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin: auto;
    color: white;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) { /* For every even row, use this background colour */
    background-color: #058cca;
} 

/*****************************************************************************/

/******************************************************************************
 Syntax used to style the menu button texts */

#leaderboard a {
    text-decoration: none;
    color: black;
}

#startGame a {
    text-decoration: none;
    color: black;
}

#howToPlay a {
    text-decoration: none;
    color: black;
}

#disclaimer a {
    text-decoration: none;
    color: black;
}

#credits a {
    text-decoration: none;
    color: black;
}

#menu a {
    text-decoration: none;
    color: black;
}

/***********************************************************************************/

/************************************************************************************
 Creates animations for the obstacles and dino */

@keyframes dinoJump { /* Animates the dino's jump */
    0% {top: 365px;} 
    35% {top: 315px;}
    65% {top: 315px;}
    100% {top: 365px;}
}

@keyframes dinoDuck { /* Animates the dino's duck */
    0% {top: 365px;}
    35% {top: 415px;}
    65% {top: 415px;}
    100% {top: 365px;}
}

@keyframes dragonLeft { /* Animates the bottom obstacle */
    0% {left: 95%;}
    100% {left: -40px;}
}

@keyframes birdLeft { /* Animates the top obstacle */
    0% {left: 95%;}
    100% {left: -40px;}
}

/************************************************************************************/

/*************************************************************************************
 Create classes that use the animations to be used in the javascript file */ 

.animateDino {
    animation: dinoJump 500ms; /* The animation takes 500 milliseconds to finish */
}

.animateDinoDuck {
    animation: dinoDuck 500ms;
}

.animateDragon {
    animation: dragonLeft 1s linear; /* The animation takes 1 second to finish and is linear for a */
}                                    /* smoother animation */

.animateBird {
    animation: birdLeft 1s linear;
}

/************************************************************************************/
